<div class="container">
  <h1>Saved Events</h1>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  {{#if savedEvents.length}}
    <div class="event-list">
      {{#each savedEvents}}
        <div class="event-card">
          {{#if this.imageUrl}}
            <img src="{{this.imageUrl}}" alt="{{this.name}}" />
          {{else}}
            <p>No image available</p>
          {{/if}}
          <h2>{{this.name}}</h2>
          <p>Date: {{format_date this.date}}</p>
          {{#if this.time}}
            <p>Time: {{format_time this.time}}</p>
          {{else}}
            <p>Time: N/A</p>
          {{/if}}
          {{#if this.venue}}
            <p>Venue: {{this.venue}}</p>
          {{else}}
            <p>Venue: N/A</p>
          {{/if}}
          <a href="{{this.url}}" target="_blank">View Details</a>
          <button
            class="remove-event"
            data-event-id="{{this.id}}"
            data-event-name="{{this.name}}"
            data-event-date="{{this.date}}"
          >Remove</button>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No saved events found.</p>
  {{/if}}
</div>